# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
tmp/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Air
tmp/
build-errors.log

# Git
.git/
.gitignore
